@import './reset.scss';
@import './var.scss';

html, body{
  height: 100%; 
}

a {
  text-decoration: none;
  cursor: pointer;
  &:active {
    text-decoration: none;
    outline: none;
  }
}

// 基本設定
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
  font-family: system-ui;
}

html {
  height: 100vh;
  line-height: 16px;
  position:fixed;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  min-height: 100vh;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

.container {
  position: relative;
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 50px);
  padding: 10px 5% 80px 5%;
  margin-top: 10px;
  -webkit-overflow-scrolling: touch;

  @include small-phone-width() {
    height: calc(100vh - 100px);
    padding-bottom: 150px;
  }
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, em, 
strong, sub, sup, b, u, dl, dt, dd, ol, ul, li,
table, tbody, tfoot, thead, tr, th, td{
  color: $baseFont;
}

h1 {
  font-size: 17px
}

hr {
  opacity: 0.3;
}

a {
  cursor: pointer;
  @include pc-width {
    text-decoration: none;
    transition: all .3s;
    &:hover, &:active{
      outline: none;
    }
  }
}

#lightBoxBg {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 999;
  top: 0;
  margin-top: 114px;
  width: 100%;
  bottom: 0;
  height: 100vh;
  right: 0;
  left: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent; 
  overflow: hidden;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.8;
  }
}

.selUnderLine {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  &__item {
    position: relative;
    color: $titleFont;
    padding: 10px 0px;
    margin: 0 5px;

    &--active{
      color: $selUnderLine;
      &::after{
        position: absolute;
        width: 40%;
        height: 3px;
        content: '';
        background: $selUnderLine;
        bottom: 0;
        left: 30%;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

input {
  background: transparent;
  border: none;
  color: $baseFont;
  padding: 0px 5px;
  margin: 0px 5px;
  &:focus {
    outline: none;
  }

  &::placeholder{
    color: $baseFont;
    opacity: 0.7;
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.1);
  }

  @include small-phone-width() {
    width: 100%;
    margin-top: 10px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fade {
  animation: fade-in 2s;
}

@keyframes fade-in { 
  0% { opacity: 0; } 
  100% { opacity: 1; } 
}

.btnStyle {
  margin: 0 5px 0 20px;
  z-index: 0;
  position: relative;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;
  color: $subColor;

  &:hover, &:active {
    box-shadow: 0 0 5px $subColor, 0 0 25px $subColor;
    color: #fff;
    &::after,
    &::before {
      transition: .3s;
      background: $subColor;
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 300%;
    background-color: #efefef;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 0 0;
    background-image: conic-gradient($subColor, $subColor);
    animation: rotate 2s linear infinite;
  }
  
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #efefef;
    border-radius: 10px;
  }
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

//彈窗
.lightBox {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  bottom: 0;
  height: 100vh;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

//checkBox 樣式
.common__checkBoxStyle {
  position: relative;
  @include small-phone-width() {
    width: 12px;
    margin-top: 0;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 13px;
    top: 0;
    left: 0;
    user-select: none;
    background-color: $checkBg;
    border: 2px solid $checkBorder;
  }

  &:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 13px;
    top: 0;
    left: 0;
    background-color: $checkBg;
  }

  &:checked:after {
    content: "";
    display: block;
    width: 2.5px;
    height: 8px;
    border-right: 5px white;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
    border: solid $checkBorder;
    border-width: 0 2px 2px 0;
  }
}