@import "./rwd.scss";

$baseFont: #2c3e50;
$selUnderLine: #ffcc00;
$titleFont:#2c3e50;
$baseColor: #0066ff;
$subColor: #4d94ff;

$cartCountBg: #ee4d2d;
$cartCount: #fff;

$checkBg: #175274;
$checkBorder: #2f8ebb;

$searchBorder: #f9d342;
$searchShadow: #f9d442b9;